.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout__title {
  margin-left: 10xp;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
